*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
  }
  
  /* Colors */
  :root {
    --color-default: #212529;
    --color-primary: #121ece;
    --color-secondary: #22abe2;
  }
  
  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }

.all{
    width: 100%;
    height: 100vh;
    background:linear-gradient(10deg , #fff , #b6b9e798);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.all .img-pt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.img-pt img{
    width: 80%;
    border-radius: 10px;
    border: 3px solid var(--color-secondary);
}

.content{
    height: 65%;
    width: 50%;
    padding: 20px;
    padding-left: 10%;
    padding-right: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    direction: ltr;
}

.content h1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 15%;
    width: fit-content;
    position: relative;
    color: var( --color-primary);
    font-size: 28px;
}

.content h1::after{
    content: ' ';
    width: 100%;
    height: 5px;
    background-color: var( --color-secondary);
    position: absolute;
    bottom: 0;
    right: 0;
}


.content p{
    width: 100%;
    height: 55%;
    font-size: 18px;
    line-height: 1.8;
}
.content a.go{
    width: fit-content;
    height: 15%;
    background-color: var( --color-primary);
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 0 20px;
    border: 3px solid var(--color-secondary);
    transition: all .3s ease-in-out;
}

.content a.go:hover{
    background-color: var(--color-secondary);
    /* color: var(--color-primary); */
}

.content a.back{
    width: fit-content;
    height: 15%;
    font-size: 16px;
    color: var( --color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;    
    margin-top: 15px;
}
/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/

@media (max-width:450px) {
    .all{
        flex-direction: column-reverse;
        height: 125vh;
        justify-content: start;
        padding-top: 30px;
    }
    
    .all .img-pt{
        width: 100%;
        height: 30%;
    }
    
    .img-pt img{
        width: 90%;
    }
    
    .content{
        height: 65%;
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
    }
    
    .content h1{
        align-items: center;
        text-align: center;
    }    
    
    .content p{
        width: 100%;
        height: 70%;
        font-size: 16px;
        line-height: 1.7;
        text-align: center;
        padding: 0 5px;
        padding-top: 10px;
    }
    
    .content a.go{
        height: 13%;
        padding: 0 20px;
    }
}

@media (min-width:451px) and (max-width: 767px) {
    .all{
        flex-direction: column-reverse;
        height: 120vh;
        justify-content: start;
        padding-top: 30px;
    }
    
    .all .img-pt{
        width: 100%;
        height: 40%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .img-pt img{
        width: 55%;
    }
    
    .content{
        height: 65%;
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    
    .content h1{
        align-items: center;
    }    
    
    .content p{
        width: 100%;
        height: 55%;
        font-size: 18px;
        line-height: 1.7;
        text-align: center;
        padding: 0 5px;
    }
    
    .content a.go{
        height: 13%;
        padding: 0 20px;
    }
}

@media (min-width:768px) and (max-width: 991px) {
    
    .img-pt img{
        width: 95%;
    }
    
    .content{
        height: 100%;
        padding-right: 40px;
    }
    
    .content p{
        font-size: 16px;
        line-height: 1.5;
    }

    .content a.go{
        height: 10%;
    }
    .content h1{
        align-items: center;
        font-size: 27px;
    }  
}


@media (min-width:992px) and (max-width: 1199px) {

.img-pt img{
    width: 90%;
}

.content p{
    font-size: 16px;
    line-height: 1.6;
}

.content h1{
    font-size: 25px;
}

.content a.go{
    width: fit-content;
    height:12%;
    background-color: var( --color-primary);
    font-size: 18px;
    padding: 0 15px;
}
.content a.back{
    font-size: 14px;
    padding-right: 10px;    
}
}

/* 
*/