:root {
    --color-default: #212529;
    --color-primary: #121ece;
    --color-secondary: #22abe2;
    --color-hover:#416cb3;
}

.img-style-hero{
    border-radius: 30px;
    box-shadow: 5px 5px 10px #4b4f53;
}

.img-style-hero{
    border-radius: 10px;
}

.card-style{
    border-radius: 10px !important;
    border: 3px solid var(--color-primary) !important;
}

.color1{
    color: var(--color-primary) !important;
}
.color2{
    color: var(--color-secondary) !important;
}
.color3{
    color: var(--color-default) !important;
}
.color4{
    color: var(--color-hover) !important;
}
/* ------ */

section#secound
{
    width: 100%;
    height: fit-content;
    padding: 10px 30px;
    margin-bottom: 100px;
}

section#secound .advice{
    background-color: #e4f0f4;
    position: relative;
    font-size: 30px;
    text-align: center;
    padding: 100px 20px 0px 20px;
    border-radius: 25px;
    border: 3px solid var(--color-primary);
    line-height: 2;
    color: var(--color-default);
}

section#secound .advice i{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 25%;
    font-size: 70px !important;
    color: var(--color-primary);
}

/* --------2 RESPONSEV start */

/* *--------------------- */


/* ------------------------ */

.fr-4{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.content-4{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--minColor);
    padding-bottom: 8%;
}
.content-4 h1{
    color: var(--lastColor);
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-4 .contnet-store{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content-4 .contnet-store img{
    height: 100%;
    width: 30%;
}

.content-4 .contnet-store aside{
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-4 .contnet-store aside h2{
    text-align: center;
    /* color: var(--color-primary); */
    font-weight: 500;
}
.content-4 .contnet-store aside p{
    text-align: center;line-height: 1.8;
    color: #22abe2 !important;
}
.content-4 .contnet-store aside a{
    color: #e4f0f4;
    text-align: center;
    width: fit-content;
    height: fit-content;
    background-color: var(--color-primary);
    border-radius: 5px;
    border: 2px solid var(--color-secondary);
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
    transition: .3s all;
    margin-top: 15px;
    z-index: 5;
}
.content-4 .contnet-store aside a:hover{
    transform: scale(1.1);
}


.w-4{
    position: absolute;
    left: 0;
    bottom: 0%;
    width: 100%;
    height: 25%;
}
/* end fr-4 */

/* *--------------------- */




@media (max-width: 450px) {
    /*--------------HEADER-----------------*/

    .header .logo h1 {
        font-size: 16px;
        font-weight: 700;
        color: #000;
        margin: 0;
        font-family: var(--font-secondary);
    }

    /*-------------------------------*/
    
section#secound .advice{
    font-size: 20px;
    padding: 120px 20px 0px 20px;
}

section#secound .advice i{
    top: 15%;
    font-size: 80px;
}

/* ------------------------------------- */

  
.fr-4{
    width: 100%;
    height: 180vh;
    position: relative;
    overflow: hidden;
}

.content-4{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column-reverse !important;
    padding-bottom: 8%;
    /* background-color: #212529; */
}
.content-4 h1{
    color: var(--lastColor);
    width: 100%;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-4 .contnet-store{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
}
.content-4 .contnet-store img{
    height: 50%;
    width: 100%;
    border-radius: 10px;
}

.content-4 .contnet-store aside{
    width: 85%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.content-4 .contnet-store aside h2{
    text-align: center;
    color: var(--lastColor);
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.8;
}
.content-4 .contnet-store aside p{
    text-align: center;
    line-height: 1.8;
    color: #e8d8ed;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 75%;
}

/* ------------------------------------- */
}

@media (min-width:451px) and (max-width: 767px) {

section#secound .advice{
    font-size: 25px;
    padding: 100px 20px 0px 20px;
}

section#secound .advice i{
    top: 13%;
    font-size: 85px;
}
/* ------------------------------- */

.fr-4{
    width: 100%;
    height: 140vh;
    position: relative;
    overflow: hidden;
}

.content-4{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column-reverse !important;
    padding-bottom: 8%;
    /* background-color: #212529; */
}
.content-4 h1{
    color: var(--lastColor);
    width: 100%;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-4 .contnet-store{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
}
.content-4 .contnet-store img{
    height: 50%;
    width: 100%;
    border-radius: 10px;
}

.content-4 .contnet-store aside{
    width: 85%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.content-4 .contnet-store aside h2{
    text-align: center;
    color: var(--lastColor);
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.8;
}
.content-4 .contnet-store aside p{
    text-align: center;
    line-height: 1.8;
    color: #e8d8ed;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 75%;
}

/* ------------------------------- */
}


@media (min-width:768px) and (max-width: 991px) {

    section#secound .advice{
        font-size: 27px;
        padding: 100px 20px 0px 20px;
    }
    
    section#secound .advice i{
        top: 15%;
        font-size: 90px;
    }

    /* ----------- */
    /* shop section start --------*/

    
.fr-4{
    width: 100%;
    height: 130vh;
    position: relative;
    overflow: hidden;
}

.content-4{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column-reverse !important;
    padding-bottom: 8%;
}
.content-4 h1{
    color: var(--lastColor);
    width: 100%;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-4 .contnet-store{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
}
.content-4 .contnet-store img{
    height: 50%;
    width: 100%;
    border-radius: 10px;
}

.content-4 .contnet-store aside{
    width: 85%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.content-4 .contnet-store aside h2{
    text-align: center;
    color: var(--lastColor);
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.8;
}
.content-4 .contnet-store aside p{
    text-align: center;
    line-height: 1.8;
    color: #e8d8ed;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 75%;
}
    /* shop section end --------*/
}

@media (min-width:992px) and (max-width: 1199px) {
    
     /*----------------------------------*/
        /*----------------------------------*/
        /*----------------------------------*/
    
        section#secound .advice{
            font-size: 28px;
            padding: 100px 20px 0px 20px;
        }
        
        section#secound .advice i{
            top: 17%;
            font-size: 95px;
        }

        /* shop section start --------*/
        /* start fr-4 */

.content-4 .contnet-store{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content-4 .contnet-store img {
    height: 75%;
    width: 40%;
}

.content-4 .contnet-store {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-4 .contnet-store aside{
    width: 45%;
    height: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.content-4 .contnet-store aside h2 {
    text-align: center;
    color: var(--lastColor);
    font-weight: 500;
    line-height: 1.5;
    width: 115%;
    font-size: 20px;
    margin-bottom: 10px;
}

.content-4 .contnet-store aside p {
    text-align: center;
    line-height: 1.8;
    color: #e8d8ed;
    font-size: 15px;
}

.content-4 .contnet-store aside a {
    color: #000;
    text-align: center;
    width: fit-content;
    height: fit-content;
    background-color: var(--lastColor);
    border-radius: 5px;
    border: 2px solid var(--minColor);
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
    transition: .3s all;
    margin-top: 15px;
    z-index: 5;
    margin-bottom: 15px;
}

.w-4{
    position: absolute;
    left: 0;
    bottom: 0%;
}
/* end  */
}

/*-------- 1200 --------*/
@media (min-width:1200px) {
    .img-heroFIX{
        
        width: 50%;
    }
}
/* ----------------------------------- */
